@font-face {
  font-family: "iconfont"; /* Project id 2780733 */
  src: url('//at.alicdn.com/t/font_2780733_597qkfm915.woff2?t=1631181518938') format('woff2'),
       url('//at.alicdn.com/t/font_2780733_597qkfm915.woff?t=1631181518938') format('woff'),
       url('//at.alicdn.com/t/font_2780733_597qkfm915.ttf?t=1631181518938') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-profile:before {
  content: "\e656";
}

.icon-toll:before {
  content: "\e655";
}

.icon-money-recive:before {
  content: "\e654";
}

.icon-Delete-1:before {
  content: "\e653";
}

.icon-vertical-align-bottom:before {
  content: "\e652";
}

.icon-sharp:before {
  content: "\e651";
}

.icon-a-MultiSelect:before {
  content: "\e650";
}

.icon-donut-large:before {
  content: "\e64e";
}

.icon-guang:before {
  content: "\e64f";
}

.icon-Bag:before {
  content: "\e64d";
}

.icon-Upload:before {
  content: "\e64c";
}

.icon-setting:before {
  content: "\e64b";
}

.icon-Multimedia:before {
  content: "\e64a";
}

.icon-ad:before {
  content: "\e612";
}

.icon-a-alarm1:before {
  content: "\e613";
}

.icon-checkBox:before {
  content: "\e614";
}

.icon-Club:before {
  content: "\e615";
}

.icon-a-CompanyLogo:before {
  content: "\e616";
}

.icon-amazon:before {
  content: "\e617";
}

.icon-Expand:before {
  content: "\e618";
}

.icon-a-Companygoogle:before {
  content: "\e619";
}

.icon-Delete:before {
  content: "\e61a";
}

.icon-copy:before {
  content: "\e61b";
}

.icon-funnel-blue2:before {
  content: "\e61c";
}

.icon-funnel-blue1:before {
  content: "\e61d";
}

.icon-funnel-blue3:before {
  content: "\e61e";
}

.icon-fail:before {
  content: "\e61f";
}

.icon-funnel-red1:before {
  content: "\e620";
}

.icon-date:before {
  content: "\e621";
}

.icon-funnel-red3:before {
  content: "\e622";
}

.icon-Icon:before {
  content: "\e623";
}

.icon-a-Facebook-Original:before {
  content: "\e624";
}

.icon-jian:before {
  content: "\e625";
}

.icon-a-NameCloseTypeDefault:before {
  content: "\e626";
}

.icon-a-NameCloseTypeTiny:before {
  content: "\e627";
}

.icon-a-NameCreateRule-TypeTiny:before {
  content: "\e628";
}

.icon-a-NameAddTypeUserControl:before {
  content: "\e629";
}

.icon-a-NameCreateRuleTypeTiny:before {
  content: "\e62a";
}

.icon-a-NameClockTypeForm:before {
  content: "\e62b";
}

.icon-logo:before {
  content: "\e62c";
}

.icon-a-NameLeftTypeArrow:before {
  content: "\e62d";
}

.icon-a-NameGlobalTypeTiny:before {
  content: "\e62e";
}

.icon-a-NamemeanTypenote:before {
  content: "\e62f";
}

.icon-Management:before {
  content: "\e630";
}

.icon-a-NameCloseTypeSmall:before {
  content: "\e631";
}

.icon-funnel-red2:before {
  content: "\e632";
}

.icon-a-NamefolderTypeTiny:before {
  content: "\e633";
}

.icon-a-NameRightTypeArrow:before {
  content: "\e634";
}

.icon-a-NamemoreTypeUserControl:before {
  content: "\e635";
}

.icon-a-NameDownTypeArrow:before {
  content: "\e636";
}

.icon-a-NameUnionTypeTiny:before {
  content: "\e637";
}

.icon-a-NamesettingTypeUserControl:before {
  content: "\e638";
}

.icon-a-NamesortTypeUserControl:before {
  content: "\e639";
}

.icon-tab:before {
  content: "\e63a";
}

.icon-new-bag:before {
  content: "\e63b";
}

.icon-a-NameSearchTypeUserControl:before {
  content: "\e63c";
}

.icon-a-ToggleOff:before {
  content: "\e63d";
}

.icon-tiny:before {
  content: "\e63e";
}

.icon-trending-down:before {
  content: "\e63f";
}

.icon-a-ToggleOn:before {
  content: "\e640";
}

.icon-a-NameUpTypeArrow:before {
  content: "\e641";
}

.icon-trending-up:before {
  content: "\e642";
}

.icon-succes:before {
  content: "\e643";
}

.icon-a-TypeOpaqueThemeOnLight:before {
  content: "\e644";
}

.icon-a-TypeTranslucentThemeOnLight:before {
  content: "\e645";
}

.icon-Vector:before {
  content: "\e646";
}

.icon-a-TypeFormNameCalendar:before {
  content: "\e647";
}

.icon-a-TypeFormNameEye-Open:before {
  content: "\e648";
}

.icon-a-TypeFormNameEye-Closed:before {
  content: "\e649";
}
